@use "_colors.scss" as colors;

body {
    margin: 0;
    background: colors.$white;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
    font-family: var(--font-bebas-neue), sans-serif;
    font-weight: 400;
    font-style: normal;
    color: colors.$black;
    margin: 0;
    padding-top: 2px;
}

p,
input,
textarea {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 400;
    color: colors.$black;
    margin: 0;
}

.greenButton,
.transparentButton {
    padding: 7px 10px 5px;
    font-size: 25px;
    border: 2px solid colors.$lightGreen;
    background: colors.$lightGreen;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease;

    &:hover {
        border-color: colors.$green;
    }

    &:disabled {
        background: colors.$disabledBG;
        color: rgba(16, 16, 16, 0.3);
        border-color: colors.$disabledBG;
        cursor: initial;
    }
}

.transparentButton {
    background: transparent;
    border-color: transparent;
    text-align: center;
    text-decoration: none;

    &:hover {
        border-color: colors.$lightGreen;
    }
}
