@use "_colors.scss" as colors;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    background: colors.$white;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: colors.$black;
    margin: 0;
    padding-top: 2px;
}

p,
input,
textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: colors.$black;
    margin: 0;
}
