@use "_colors.scss" as colors;

body {
    margin: 0;
    background: colors.$white;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label {
    font-family: var(--font-bebas-neue), sans-serif;
    font-weight: 400;
    font-style: normal;
    color: colors.$black;
    margin: 0;
    padding-top: 2px;
}

p,
input,
textarea {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 400;
    color: colors.$black;
    margin: 0;
}
