@use "../colors" as colors;

.signup {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .errors {
            width: 404px;
            background: colors.$red;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                color: colors.$white;
            }
        }

        input {
            border: 2px solid black;
            background: colors.$white;
            padding: 5px 10px;
            font-size: 25px;
            color: black;
            min-width: 400px;
            transition: all 0.2s ease;

            &.error {
                border-color: colors.$red;
            }
    
            &:focus-visible {
                outline: none;
                border: 2px solid colors.$lightGreen;
            }
    
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active{
                -webkit-box-shadow: 0 0 0 30px colors.$white inset !important;
            }
        }
    }
}

@media (max-width: 480px) {
    .signup {

        form {
            width: calc(100% - 40px);

            input {
                min-width: auto;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}
